
@{
    ViewBag.Title = "CustomerList";
}
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Home/CustomerList.js"></script>
}
<h2>顧客清單</h2>

<div id="app">
    <div class="dark-bg-group-top mb-s clearfix">
        <button class="btn btn-success" data-toggle="modal" data-target="#create" v-on:click="IsEdit=false,initNewOrUpdateCustermer()">
            <span>新增客戶</span>
        </button>
    </div>
    <div class="filter-bar-right pull-right">
        <form class="search-form shadow">
            <input v-model="SearchString" placeholder="查詢客戶" class="form-control" type="text" name="SearchString" />
        </form>
    </div>
    <br />
    <div class="table">
        <table class="table radius th-bd table-striped" style="font-size: 16px;">
            <tr class="light">
                <th>項次</th>
                <th>客戶姓名</th>
                <th>客戶電話</th>
                <th class="text-center">編輯</th>
            </tr>
            <tr v-for="(Customer,index) in PageCustomerInfoList">
                <td>{{(index+1)+(CurrenPage-1)*PageSize}}</td>
                <td>{{Customer.CustomerName}}</td>
                <td>{{Customer.Phone}}</td>
                <td class="text-center"><button type="button" class="btn btn-primary" v-on:click="IsEdit=true,GetCustomerDetail(Customer.CustomerId)">編輯</button><button type="button" class="btn btn-danger" v-on:click="DeleteCustomer(Customer.CustomerId)">刪除</button></td>
            </tr>
        </table>
    </div>
    <div class="pull-left">
        <ul v-if="TotalPage>0" style="margin-top: 18px" class="pagination pagination-sm pull-right">
            <li v-if="CurrenPage !== 1">
                <a href="#" aria-label="Previous" v-on:click="CurrenPage=1">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-if="CurrenPage-2 > 0"><a href="#" v-on:click="CurrenPage-=2">{{CurrenPage-2}}</a></li>
            <li v-if="CurrenPage != 1"><a href="#" v-on:click="CurrenPage--">{{CurrenPage-1}}</a></li>
            <li class="active"><a href="#" disabled>{{CurrenPage}}</a></li>
            <li v-if="CurrenPage+1 <= TotalPage"><a href="#" v-on:click="CurrenPage++">{{CurrenPage+1}}</a></li>
            <li v-if="CurrenPage+2 <= TotalPage"><a href="#" v-on:click="CurrenPage+=2">{{CurrenPage+2}}</a></li>
            <li v-if="TotalPage != 1 && CurrenPage!=TotalPage">
                <a href="#" aria-label="Next" v-on:click="CurrenPage=TotalPage">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="to">至 <input type="number" min="1" :max="TotalPage" onkeyup="value=value.replace(/[^\d]/g,'')" v-model="AppointPage" v-on:change="SetPage(AppointPage)" @@keydown.enter.prevent="SetPage(AppointPage)" style="width:80px" /> 頁，共{{TotalPage}}頁</li>
        </ul>
    </div>
    

    @* dailog *@
    <div class="modal fade" id="create" role="dialog">
        <div class="modal-dialog modal-s">
            <div class="modal-content dark">
                <div class="modal-header">
                    @*<button type="button" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>*@
                    <h3 class="modal-title text-center">{{IsEdit ?  '修改客戶資料' : '新增客戶資料' }}</h3>
                </div>
                <br />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>客戶姓名</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.CustomerName" type="text" />
                        </div>
                        <div class="col-xs-6">
                            <label>客戶電話</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.Phone" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>客戶地址</label>
                            <input class="form-control" v-model="NewOrUpdateCustermer.Address" type="text" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                取消
                            </button>
                            <button v-if="IsEdit" type="button" class="btn btn-create" data-dismiss="modal" aria-label="Close" v-on:click="UpdateCustomer()">
                                確認
                            </button>
                            <button v-else type="button" class="btn btn-create" data-dismiss="modal" aria-label="Close" v-on:click="CreateCustomer()">
                                確認
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
